@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
    font-family: 'poppins';
}

/* :root { 
    --mainColor: #1294b8;
}
background-color: var (--mainColor); */

header {
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 48%, rgba(18,148,184,1) 100%);
}

/* HEADER NAVIGATION */

.header-nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    padding : 0 20px;
}

nav ul li a, fontawesome {
    color: white;
    text-decoration: none;
}

fontawesome a:visited {   /* attributs quand l'icone a déjà été cliqué */
    color: white;
    text-decoration: none;
}

fontawesome i {     /* espace entre les icones */
    margin:5px;
}

/* HEADER IMG */

.header-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.header-text {
    align-items: center;
    color:#373737;
    width: 25%;
    padding: 15px;
}

.header-text h2 {
    font-size: xx-large;
    margin: 10px;
}

.header-text p {
    font-size: large;
    margin: 10px;
}

.img-header {
    width: 150%;
    justify-content: center;
    margin: 20px;
    object-fit: cover;
}

/* BUTTON */

button {
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(65,148,185);
    color: white;
    border:none;  
}

input[type=email] {
    border: none;
    margin: 10px;
    border-radius: 20px;
}

form {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    
}

/* PART 2 SELCUK */

.Products-Features{
    text-align: center;
    background-color: white;
}
    
.products {
    width: 500px;
    margin:0px 200px;
    padding: 50px 0px;
}
    
.products p { 
    padding: 10px;
    color:grey;
}
    
.features {   
    display: flex;
    justify-content: center;
    margin: 10px 50px; 
}
    
.carte {   
    width: 25%;  
    border-radius: 5px;  
    padding: 50px 20px;   
    margin: 10px; 
    color: white;
    background: radial-gradient(circle, rgba(139,195,245,1) 33%, rgba(18,148,184,1) 95%); 
}
    
.carte:hover {
    transition: 0.6s;
    margin-top: -10px;
}
    
.carte h4 {
    font-weight: 400; 
    font-size: x-large;
    padding: 10PX;
}
    
.carte i {   
    font-size: 2em;
}