@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
    font-family: 'poppins';
    scroll-behavior: smooth;
}

:root {
    --blue:#4194b9;
    --grey-text:#AFB4C6;
    --grey-background:#F3F3F3;
}

section {
    padding: 20px;
}


header {
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(0,0,0,0.2), var(--blue) 100%);
}

/* HEADER NAVIGATION */

.header-nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    padding : 0 10px;
}

nav ul li a, fontawesome {
    color: white;
    text-decoration: none;
}

fontawesome a:visited {   /* attributs quand l'icone a déjà été cliqué */
    color: white;
    text-decoration: none;
}

fontawesome a {     /* espace entre les icones */
    margin:5px;
    color: white;
}

/* HEADER IMG */

.header-aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px auto;
    flex-wrap: wrap;
}

.header-text {
    align-items: center;
    color:#373737;
    max-width: 450px;
    padding: 15px;
}

.header-text h2 {
    font-size: xx-large;
    margin: 10px;
}

.header-text p {
    font-size: large;
    margin: 10px;
}

.img-header {
    max-width: 40%;
    margin: 20px auto;
}

/* BUTTON */

/* https://codepen.io/NoorA1125/pen/movOEN */

.submit {
    border-radius: 20px;
    margin: 5px;
    padding: 5px 20px;
    background-color: var(--blue);
    color: white;
    border:none;
    overflow: visible;
    position: relative;
    float: right;
    cursor: pointer; /*active un curseur au survol */
}

.submit:hover {
    color: white;
    background-color:rgb(139,195,245);
}

input[type=email] {
    border: none;
    outline: none;
    margin: 10px;
    width:330px;
    border-radius: 20px;
    float:left;  
}

.nav-form {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 10px; 
    justify-content:space-around;
}

/* PART 2 SELCUK */

.Products-Features{
    text-align: center;
    background-color: white;
    padding: 30px;
}
    
.products {
    padding: 30px;
    justify-content: center;
    
}
  
.products h2 {
    color:var(--blue);
    text-align: center;
    margin: 30px auto 30px;
    font-size: 30px;
    font-weight: 800;
}

.products p { 
    max-width: 30em;
    color: var(--grey-text);
    margin-left: auto;
    margin-right: auto;
}
    
.features {   
    display: flex;
    justify-content: center;
    margin: 10px 50px; 
    flex-wrap: wrap;
}
    
.carte {   
    width: 350px;  
    border-radius: 5px;  
    padding: 50px 20px;   
    margin: 10px; 
    color: white;
    background: radial-gradient(circle,rgba(0,0,0,0.2), var(--blue)); 
    transition: 0.4s;
}
    
.carte:hover {
    transition: 0.6s;
    transform: translateY(-10px);
}
    
.carte h4 {
    font-weight: 400; 
    font-size: x-large;
    padding: 10px;
}
    
.carte i {          
    font-size: 2em; /* taille des icons */
}

/* FAQ SECTION */

.faq {
    background-color: var(--grey-background);
    padding: 20px;
}

.faq-title {
    text-align: center;
    margin: 40px auto 40px;
    max-width: 700px;
}

.faq-title h2 {
    color:var(--blue);
    font-size: 30px;
    font-weight: 800;

}

.faq-title p {
    color: var(--grey-text);
    padding: 20px;
    margin: auto 50px;
}

.faq-bloc {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
    flex-wrap: wrap;
}

.fa-circle {
    color:var(--blue);
    font-size: 30px;   
}

.faq-text {
    max-width: 500px;
    margin: 50px;
}

.faq-text h3{
    margin:30px 0;
    font-weight:600;
}

.faq-text p {
    color: var(--grey-text);
}
/* PART 3 UGO */

.team {
    height: 100vh;
}

.team-txt {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    padding: 30px;
    background-color: white;
}

.team-txt h2 {
    color:var(--blue);
    font-size: 30px;
    font-weight: 800;
}

.team-txt p {
    color: var(--grey-text);
    padding: 30px;
}

.team-img {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.team-img p {
    color: var(--grey-text);
    padding:  0 0 40px;
}

.team-img h4, H3 {
    font-weight:500;
}

.staff {
    width: 250px;
    border-radius: 90%;
    filter:grayscale(1);
    transition-duration: 0.8s; /* quand tu reviens à l'état normal */
}

.staff:hover {
    transform: scale(1.1); /* agrandit l'image en *1.1 */
    filter: grayscale(0); /*enlève le filtre gris */
    transition-duration: 0.8s; /*quand tu active l'effet lors du survol */
}

.team-member {
    position: relative;
}
.team-member:hover .social-icons {
    top: 20px;
    left: 50px;
    opacity: 1;
}
.social-icons {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left:0;
    transition: 1s;
}

/* GET STARTED UGO */


.img-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/background-start.png");  /* filtre dark sur img */
    /* regles images */
    object-fit: contain;
    background-attachment: fixed; /* fixe l'image lors du scroll */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 50px;
}

.img-text h2 {
    font-size: xx-large;
}
.img-text p {
    font-size: small;
}

.button-start {
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.4s;
}

.button-start:hover {
    background-color: white;
    color:#373737;
    cursor: pointer;
    transition: 0.6s;
    transform: translateY(-3px);
}



/* CREATIVITY */

.part-creativity {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin: 30px;
}

.text-creativity {
    text-align: center justify;
    width: 600px;
    margin: 60px auto;
    
}

.text-creativity h2 , .text-creativity p, .text-creativity h3 , .text-creativity button {
    margin: 20px;
}

.text-creativity p {
    color: var(--grey-text);
}

.text-creativity h3 {
    font-size: 30px;
}

.text-creativity button {
    border: none;
    background-color:var(--blue);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
}

.aside-creativity {
    display: flex;
    align-items: center;
}

.img-creativity {
    max-width: 80%;
    height: auto;
    margin: 50px auto;
}

/* OUR PRICING */

.pricing {
    background-color: var(--grey-background);
    padding: 40px;
}

.pricing-aside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.pricing-title {
    text-align: center;
    margin: 50px;
}

.pricing-title h2 {
    color:var(--blue);
    font-size: 30px;
    font-weight: 800;
}

.pricing-title p {
    color: var(--grey-text);
    margin: 20px;
}

/* BOX DESIGN */
.pricing-box {
    padding: 50px;
    text-align: center;
    transition: 0.4s;
    background-color: white;
    border-radius: 15px;
    width: 400px;
    margin: 10px;
}

.pricing-box:hover {
    transition: 0.6s;
    transform: translateY(-10px);
}

.pricing-box h3 {
    margin-bottom: 25px;
    font-weight: bold;
}

.pricing-box .price {
    color: var(--blue);
    font-size: 80px;
}

.pricing-box p {
    color: var(--grey-text);
}

.pricing-list {
    list-style-type: none;
    text-align: justify;
    
}

.pricing-button:hover {
    background-color:white;
    color: var(--blue);
    padding: 10px 100px;
    border-radius: 5px;
    margin-top: 20px;
    border:solid 1px var(--blue);
    cursor: pointer;
    transition: 0.4s;
}

.pricing-button {
    background-color:var(--blue);
    color: white;
    padding: 10px 100px;
    border-radius: 5px;
    margin-top: 20px;
    border:solid 1px var(--blue); /* evite le décalage quand le bouton se transforme */
    cursor: pointer;
    transition: 0.6s;
}

.fa-circle-check {
    color: green;
    margin-right: 5px;
}

.fa-circle-xmark {
    color: red;
    margin-right: 5px;
}

/* https://developer.mozilla.org/fr/docs/Web/CSS/css_flexible_box_layout/aligning_items_in_a_flex_container#utiliser_les_marges_automatiques_pour_aligner_sur_laxe_principal */
.pricing-list li {
    display: flex;
}

.pricing-list li .push {
    margin-left: auto;
}


/* SELCUK BLOG */

.blog {
    flex-wrap: wrap;
    justify-content:center;
}

.our-blog {
    text-align: center;
    margin: 40px auto;
}

.our-blog h2 {
    color: var(--blue);
    font-size: 30px;
    font-weight: 800;
}

.our-blog p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: var(--grey-text);
}

.blog-photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.presentation {   
    padding: 25px;
}

.img {
    width: 100%;
    border-radius: 5px;
    transition-duration: 0.6s;
    background: rgba(0, 0, 0, 0.50);
}

.presentation .img:hover {    
    cursor: pointer;
    transition: 0.8s;
    height: auto;
}

.presentation {
    position: relative;
    padding: 0;
    width: 300px;
}

.text-img {
    background: rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    opacity: 0;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    width: 300px;
    height: 224px;
    padding: 20px;
    transition: all 400ms ease-out;
    text-align:start;
}

.text-img:hover {
    cursor: pointer;
    opacity: 1;
}

.presentation h4 {
    font-weight: 400;
}

.presentation p {
    font-weight: 200;
    font-size: small;
    color: var(--grey-text);
}

a {
    text-decoration: none;
}

.blue-text{
    color:var(--blue);
    cursor: pointer;
}

/* CONTACT */

.contact {
    background-color: var(--grey-background);
    flex-wrap: wrap;
}

.contact-bloc {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contact-form {
    width: 25em;
}

.contact-form div {
    margin: 14px 0 0 0;
}

.contact-form div input {
    border: #cfd4da;
    outline: none;
}

.contact-first-line {
    display: flex;
    justify-content: space-between;
}

.contact-first-line input {
    height: 3em;
    justify-content:space-around ;
    padding: 10px 15px;

}

.contact-second-line input {
    width: 100%;
    height: 3em;
    padding: 10px 15px;
}

.contact-third-line textarea {
    width: 100%;
    height: 15em;
    resize:horizontal;
    padding: 10px 15px;
    border: #cfd4da;
    outline: none;
}


.contact-button {
    border:none;
    background-color:var(--blue);
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 14px 0 0 0;
}

/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center; 
    background-color: #25272B;
    color: #8A8A8A;
    font-size: medium;
}

.icons-reseaux {
    display: flex;
    gap: 100px;
    margin: 20px;
    text-decoration: none;
    flex-wrap: wrap;
}

.icons-reseaux i {
    flex-wrap: wrap;
    text-decoration: none;
    border:var(--grey-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 2em;
    cursor: pointer;
}

.footer a:visited {
    text-decoration: none;
    color: #8A8A8A;
}

/* JAVASCRIPT INTERACTION */

#colorBtn {
    position: fixed;
    top: 200px; /* Place the button at the bottom of the page */
    left: 20px; /* Place the button 30px from the right */
    z-index: 1;
    border: none;
    outline: none;
    background-color:#3D3D3D;
    color: white;
    cursor: pointer;
    border-radius: 50%; /* Rounded corners */
    font-size: 20px;
    width: 50px;
    height: 50px;
}

#myBtn {
    position: fixed;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1;
    border: none;
    outline: none;
    background-color:#3D3D3D;
    color: white;
    cursor: pointer;
    border-radius: 50%; /* Rounded corners */
    font-size: 20px;
    width: 50px;
    height: 50px;
  }


  /* CLIENT */


.swiper {
    width: 100%;
    height: 100%;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    border-radius: 90%;
    width: 120px;
}

.swiper-slide h3, .swiper-slide p {
    margin: 10px;
    width: 700px;
}

.swiper-slide p, .swiper-slide h4 {
    color: var(--grey-text);
}

.swiper-slide h4 {
    font-weight: 500;
}

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cove
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;
  }

/* MEDIA QUERRIES */

  @media(max-width: 800px) {
    .img-header {
        max-width: 100%;
    }

    .input[type=email] {
        width: 100%;
    }
  }